<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Seguridad" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ArchivoLog" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="FormsFree" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ConfigBase" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ArchivosAPP" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="WebServiceSIMAOracle" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ConfigModulos" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ConfigModCalidad" type="System.Configuration.DictionarySectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />  
  </configSections>
  
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <Seguridad>
    <add key="AutenticacionAD" value="false" />
    <add key="IdSistema" value="4" />
    <add key="NonAreaRepon" value="Division de desarrollo" />
  </Seguridad>
  <ArchivoLog>
    <add key="RutaFile" value="C:\Proyectos\Log\" />
  </ArchivoLog>
  <FormsFree>
    <add key="HistorialdeInspeccion.aspx" value="1" />
    <add key="ReportExplore.aspx" value="1" />
    <add key="ReportParams.aspx" value="1" />
    <add key="ListarReposanbleAprobacion.aspx" value="1" />
    <add key="AdminstrarUsuariosFirmantes.aspx" value="1" />
    <add key="ReportPrevio.aspx" value="1" />
    <add key="AdministrarReporte.aspx" value="1" />
    <add key="AdministrarPropiedades.aspx" value="1" />
    <add key="DetalleReporte.aspx" value="1" />
    <add key="EnviarPorCorreo.aspx" value="1" />
    <add key="AdministrarDetallePorResponsabledeArea.aspx" value="1" />
    <add key="DetalleRespuestaResponsableArea.aspx" value="1" />
    <add key="ListaReporteIndicadores.aspx" value="1" />
    <add key="DetalleObjetoSeccion.aspx" value="1" />
    <add key="DetalleConfiguraParametro.aspx" value="1" />
    <add key="DetalleObjeto_Reporte.aspx" value="1" />
    <add key="DetalleProyecto.aspx" value="1" />
    <add key="DetalleCarpeta.aspx" value="1" />
    <add key="RptPrevioInPopup.aspx" value="1" />
    <add key="AdministrarTblGeneraltems.aspx" value="1" />
    <add key="ItemsTablasGenerales.aspx" value="1" />
    <add key="ConfigurarFirmasAprobadores.aspx" value="1" />
    <add key="FindAprobadorRI.aspx" value="1" />
    <add key="ReportExploreV2.aspx" value="1" />
    <add key="TestForm.aspx" value="1" />

    <add key="ReporteCompartir.aspx" value="1" />
    <add key="UsuarioCompartido.aspx" value="1" />
    <add key="AdministrarMapeoCampos.aspx" value="1" />

    <add key="Default.aspx" value="1" />
    <add key="EasyNetLiveChatFind.aspx" value="1" />
    


  </FormsFree>
  
  <ConfigModulos>
      <add key="Borrador" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\" />
  </ConfigModulos>

  <ConfigModCalidad>
    <add key="CalidadLocalFiles" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\" />
    <add key="CalidadHttpFiles" value="http://localhost:7001/Archivos/Calidad/AllFiles/" />
    <add key="CalidadPathFiles" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\Final\" />
    <add key="CalidadPathFirma" value="C:\AppWebs\AppTest\Archivos\Calidad\Firmas\" />
    <add key="CalidadHttpFirma" value="http://localhost:7001/Archivos/Calidad/Firmas/" />
    <add key="FileSelloAgua" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\Recursos\SelloAguaNoAutoriza.pdf" />  
    <!-- Archivo fina bloqueado-->
    <add key="LocalRIFinal" value="C:\AppWebs\AppTest\Archivos\Calidad\AllFiles\RIs\" />
    <add key="HttpRIFinal" value="http://localhost:7001/Archivos/Calidad/AllFiles/RIs/" />
  </ConfigModCalidad>
  
  
  
  <ConfigBase>
    <add key="RutaFileDll" value="C:\AppWebs\AppTest\SimaNetID\CloneDLLAPP\SIMANET_W22R.dll" />
    <add key="PathFotos" value="http://10.10.90.13/fotopersonal/" />
    <!-- Generacion y visuaizacion de los reporte-->
    <add key="PathFileRpt" value="C:\AppWebs\AppTest\Archivos\HomeRptGen\" />
    <add key="PathFileRptHttp" value="http://localhost:7001/Archivos/HomeRptGen/" />
    <!-- *********************************************-->
    <add key="PathFileRptFooter" value="C:\AppWebs\AppTest\Reportes\Footer.rpt" />    
    <add key="PathFileSourceRpts" value="C:\AppWebs\AppTest\Reportes\" />
    <add key="ServerEMail" value="10.10.90.77" />
    <add key="ServerEMailPort" value="25" />
    <add key="UserSend" value="webmaster@sima.com.pe" />

    <!-- Path Server COre-->
    <!--<add key="PathBaseWSCore" value="http://10.10.90.4:7000/Core/" />-->
    <add key="PathBaseWSCore" value="http://localhost:1000/Core/" />
    <add key="PathHttpSound" value="/Archivos/Sound/" />

    <add key="NetSuteSocket" value="ws://localhost:4649/Chat?" />
    <!--Imagenes de la pagina default-->
    <add key="SliderIMG" value="C:\AppWebs\AppTest\SimaNetID\Recursos\img\Splash\" />
    
  </ConfigBase>
  
  <ArchivosAPP>
    <add key="PathSnapShot" value="c:\tmp\" />
  </ArchivosAPP>
  
  <WebServiceSIMAOracle>
    <add key="PathWSOracle" value="http://10.10.90.168:7060/xml_oracle/xml_api" />
    <add key="WSUser" value="INTEGRACION_JDE" />
    <add key="WSPwd" value="INTEGRACION_JDE" />
  </WebServiceSIMAOracle>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="log4net, Version=2.0.12.0, Culture=neutral, PublicKeyToken=669E0DDF0BB1AA2A" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows">
      <forms loginUrl="Login.aspx" protection="All" timeout="20" path="/" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="false" />
    <httpRuntime maxRequestLength="1485362" executionTimeout="3600" />
    <pages buffer="true" enableEventValidation="false" controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="Error.aspx" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <validation validateIntegratedModeConfiguration="false" />
   
        <defaultDocument>
            <files>
                <add value="Login.Aspx" />
            </files>
        </defaultDocument>
   
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AdministrarReportesSoap" maxReceivedMessageSize="2147483647" />
        <binding name="ControlInspeccionesSoap" maxReceivedMessageSize="2147483647" />
        <binding name="PersonalSoap" maxReceivedMessageSize="2147483647" />
        <binding name="ManodeObraSoap" />
        <binding name="ProyectosSoap" maxReceivedMessageSize="2147483647" />
        <binding name="ClienteSoap" />
        <binding name="ActivoFijoSoap" maxReceivedMessageSize="2147483647" />
        <binding name="logisticaSoap" />
        <binding name="ProduccionSoap" />
        <binding name="ContabilidadSoap" />
        <binding name="CostosSoap" />
        <binding name="ProyectoSoap" />
        <binding name="TesoreriaSoap" />
        <binding name="GeneralSoap" maxReceivedMessageSize="2147483647" />
        <binding name="ICharBoxManagerSoap" />
        <binding name="SeguridadSoap" />
      </basicHttpBinding>
      
    </bindings>
    <client>
      <endpoint address="http://10.10.90.4:90/GestionProduccion/ManodeObra.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManodeObraSoap"
        contract="srvProdManodeObra.ManodeObraSoap" name="ManodeObraSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionPersonal/Personal.asmx"
        binding="basicHttpBinding" bindingConfiguration="PersonalSoap"
        contract="srvGestionPersonal.PersonalSoap" name="PersonalSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionProduccion/Proyectos.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProyectosSoap"
        contract="srvProyectos.ProyectosSoap" name="ProyectosSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionComercial/Cliente.asmx"
        binding="basicHttpBinding" bindingConfiguration="ClienteSoap"
        contract="srvCliente.ClienteSoap" name="ClienteSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionActivoFijo/ActivoFijo.asmx"
        binding="basicHttpBinding" bindingConfiguration="ActivoFijoSoap"
        contract="srvLog_ActivoFijo.ActivoFijoSoap" name="ActivoFijoSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionLogistica/logistica.asmx"
        binding="basicHttpBinding" bindingConfiguration="logisticaSoap"
        contract="srvGestionLogistica.logisticaSoap" name="logisticaSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionCalidad/ControlInspecciones.asmx"
        binding="basicHttpBinding" bindingConfiguration="ControlInspeccionesSoap"
        contract="srvGestionCalidad.ControlInspeccionesSoap" name="ControlInspeccionesSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionProduccion/Produccion.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProduccionSoap"
        contract="srvGestionProduccion.ProduccionSoap" name="ProduccionSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionContabilidad/Contabilidad.asmx"
        binding="basicHttpBinding" bindingConfiguration="ContabilidadSoap"
        contract="srvGestionContabilidad.ContabilidadSoap" name="ContabilidadSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionCostos/Costos.asmx"
        binding="basicHttpBinding" bindingConfiguration="CostosSoap"
        contract="srvGestionCostos.CostosSoap" name="CostosSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionProyecto/Proyecto.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProyectoSoap"
        contract="srvGestionProyecto.ProyectoSoap" name="ProyectoSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/GestionTesoreria/Tesoreria.asmx"
        binding="basicHttpBinding" bindingConfiguration="TesoreriaSoap"
        contract="srvGestionTesoreria.TesoreriaSoap" name="TesoreriaSoap" />
      <endpoint address="http://10.10.90.4:7000/Core/General/General.asmx"
        binding="basicHttpBinding" bindingConfiguration="GeneralSoap"
        contract="srvGeneral.GeneralSoap" name="GeneralSoap" />
      <endpoint address="http://localhost:1000/Core/HelpDesk/ChatBox/ICharBoxManager.asmx"
        binding="basicHttpBinding" bindingConfiguration="ICharBoxManagerSoap"
        contract="srvChatBox.ICharBoxManagerSoap" name="ICharBoxManagerSoap" />
      <endpoint address="http://localhost:1000/Core/Seguridad/Seguridad.asmx"
        binding="basicHttpBinding" bindingConfiguration="SeguridadSoap"
        contract="srvSeguridad.SeguridadSoap" name="SeguridadSoap" />
      <endpoint address="http://localhost:1000/Core/GestionReportes/AdministrarReportes.asmx"
        binding="basicHttpBinding" bindingConfiguration="AdministrarReportesSoap"
        contract="srvGestionReportes.AdministrarReportesSoap" name="AdministrarReportesSoap" />
     
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>